;-- deploy basedir --
basedir=/srv/example.org

;-- deploy user --
;ndeploy.user=www-data

;-- application --
application.name=example
application.framework=symfony2
application.repositorydir=/srv/example.org/src/example
application.deploydir=/srv/example.org/current
application.releasesdir=/srv/example.org/releases
application.releaseskept=100

;-- scm properties --
scm.type=git
scm.repository=ssh://example@git.example.org/example.git
scm.ref=tags/latest

;-- shared files --
shared.files=vendor,app/config/parameters.yml,app/log.app/data

;-- vendor --
vendor=composer
vendor.command=update

;-- maintenance --
;maintenance=false
;maintenance.source=app/Resources/maintenance.html
;maintenance.destination=web/maintenance.html
;maintenance.remove=true

;-- hash --
;hash=true
;hash.file=app/config/parameters_assets.yml,app/config/parameters_assets.yml

;-- version --
;version=true
;version.file=app/config/parameters_assets.yml,app/config/parameters_version.yml

;-- lock --
;lock=true
;lock.file=/srv/example.org/releases/ndeploy-example.lock

;-- ndpeloy build target's basedir --
ndeploy.basedir=/opt/ndeploy
